<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Support</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- <video autoplay muted loop id="myVideo">
      <source src="./images/index_bk.mp4" type="video/mp4">
        <img src="./images/index_bk.jpg" alt="Your browser does not support HTML5 video.">
    </video> -->

    <div class="side-bar">
        <ul>
            <li>
                <a href="./index" id="menu_home" title="Home">
                    Home
                </a>
            </li>
            <li>
                <a href="./All_Device_Data/" id="menu_inventory" title="View Inventory">
                    View Inventory
                </a>
            </li>
            <li>
                <a href="./add.html" id="menu_add" title="Add Entity">
                    Switch Maps
                </a>
            </li>
            <li>
                <a href="./switch.html" id="menu_switch" title="Switch Maps">
                    Add Entity
                </a>
            </li>
            <li>
                <a href="./support.html" id="menu_support" title="Support">
                    Support
                </a>
            </li>
        </ul>
    </div>

    <div class="page-header">
        <h1>Support</h1>
    </div>

    <div class="page-content">
        <div class="single-body">
            <div class="sub-content">
                <div class="sub-content-head">
                    <h3>About</h3>
                </div>
                <p>
                    This site was designed and developed by Eric Claus for use by the
                    Collegedale Academy Information Technology Department.
                </p>
                <p>
                    This site is built using HTML 5 and CSS 3.
                </p>
            </div>
            <div class="sub-content">
                <div class="sub-content-head">
                    <h3>Contact</h3>
                </div>
                <p><b>Developer:</b> Eric Claus</p>
                <p><b>Email:</b> ericclaus@collegedaleacademy.com</p>
                <p><b>Location:</b> 4855 College Dr E, Collegedale, TN 37315</p>
            </div>
            <div class="sub-content">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13066.254804667666!2d-85.04932505000001!3d35.042643299999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb4618a9906f8cbc5!2sCollegedale+Academy!5e0!3m2!1sen!2sus!4v1523287586922" width="350" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!--Footer (code modified from https://stackoverflow.com/a/42333464)-->
    <div id="foot-placeholder"></div>
    <script>$(function () { $("#foot-placeholder").load("./page_elements/foot.html"); });</script>
    <!--end of Footer-->
</body>
</html>
